.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.home__row{
    display: flex;
    /* flex-wrap: wrap; */
    /* max-width: 80%; */
    /* overflow: hidden; */
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}
.home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -150px;
}

/* @media screen and (max-width: 1000px) {
    .home {
        display: flex;
        flex-direction: column;
    }
    .home__row {
        flex-direction: column;
        justify-content: center;
    }
} */